/* belajar mengenai text styling */

h1{
    font-size: 100px;
    color: #7667;
    text-decoration: underline;
    font-style: italic;
    text-transform: uppercase;
}

p{
    text-indent: 100px;
    letter-spacing: 5;
}